#!/bin/bash

# global settings
ref_dir=./ref/

ref_genome=$ref_dir/Homo_sapiens_assembly38.fasta

SNPEFF=/curr/niveda/UCLA_pipeline/snpEff/snpEff.jar
PICARD=falcon/tools/package/picard.jar
BEDTOOLS=/curr/niveda/bedtools2/bin/bedtools
SAMTOOLS=samtools

tmp_dir=/curr/niveda/UCLA_pipeline/temp_dir
